* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centrarColumna, body main .notasContainer .nota .principal, body main .notasContainer .nota .controlesSuperiores .nota_fecha, body main, body header button, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ocultar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: calc(1 * (1rem + 1vw));
}
body header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: #ccc;
  font-size: inherit;
}
body header button {
  justify-content: space-around;
  background: inherit;
  margin: 1rem;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
body header button svg {
  width: 80%;
  height: 80%;
  max-width: 50px;
  max-height: 50px;
}
body header button:hover {
  background-color: lightblue;
  transform: translateY(-5px);
}
body header #descargarCsv svg {
  fill: green;
}
body header #alternarTemaOscuro svg {
  fill: #ffcf17;
}
body header #deshacer {
  border: 3px solid #ccc;
}
body header #deshacer svg {
  fill: green;
}
body header .temaOscuro {
  border: 3px solid #ccc;
  color: violet;
}
body header .temaClaro {
  color: black;
}
body main {
  width: 100%;
}
body main .creadorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border: 2px solid green;
  background-color: green;
  outline: none;
  color: white;
  margin-bottom: 3rem;
}
body main .creadorContainer input {
  width: auto;
  padding: 0.5rem;
  text-align: center;
  background: inherit;
  color: inherit;
  font-size: inherit;
  min-height: 50px;
}
body main .creadorContainer button {
  background: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
body main .notasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
body main .notasContainer .nota {
  width: 100%;
  border: 3px solid pink;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
body main .notasContainer .nota .controlesSuperiores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.5rempx;
}
body main .notasContainer .nota .controlesSuperiores .nota_fecha {
  width: 100%;
}
body main .notasContainer .nota .controlesSuperiores .nota_controles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body main .notasContainer .nota .controlesSuperiores .nota_controles input {
  width: auto;
  background-color: inherit;
  color: inherit;
}
body main .notasContainer .nota .controlesSuperiores .nota_controles select {
  background-color: inherit;
  color: inherit;
}
body main .notasContainer .nota .controlesSuperiores .nota_controles .delete {
  cursor: pointer;
  align-self: center;
}
body main .notasContainer .nota .controlesSuperiores .nota_controles .delete svg {
  display: block;
  cursor: pointer;
  width: 1.5rem;
}
body main .notasContainer .nota .principal {
  margin: 1.5rem;
}
body main .notasContainer .nota .principal::first-letter {
  font-size: 3rem;
  color: green;
}
body main .notasContainer .nota-C {
  background-color: #00ffff;
  border-color: #00b0f6;
}
body main .notasContainer .nota-C .controlesSuperiores {
  background-color: #00b0f6;
}
body main .notasContainer .nota-M {
  background-color: violet;
  border-color: #ff00ff;
}
body main .notasContainer .nota-M .controlesSuperiores {
  background-color: #ff00ff;
}
body main .notasContainer .nota-Y {
  background-color: #fff159;
  border-color: #ffcf17;
}
body main .notasContainer .nota-Y .controlesSuperiores {
  background-color: #ffcf17;
}
body main .notasContainer .nota-K {
  background-color: #000;
  border-color: #aaa;
  color: white;
}
body main .notasContainer .nota-K .controlesSuperiores {
  background-color: #eee;
  color: black;
}
body main .notasContainer .nota-W {
  background-color: #fff;
  border-color: #000;
}
body main .notasContainer .nota-W .controlesSuperiores {
  background-color: #000;
  color: white;
}
body main .notasContainer .nota-W .controlesSuperiores svg {
  fill: white;
}
body footer {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
body footer button {
  border: none;
}
body footer button a svg {
  width: 50px;
  height: 50px;
}
body footer .temaOscuro a svg {
  fill: white;
}

.temaOscuro {
  background-color: #2b2b2b;
  transition: all 0.3s;
}

.temaClaro {
  background-color: #efefef;
  color: black;
  transition: all 0.3s;
}

@media only screen and (min-width: 370px) {
  body {
    font-size: calc((1rem + 1vw) * 0.8);
  }
  body main .notasContainer .nota {
    width: 320px;
  }
  body main .notasContainer .nota .controlesSuperiores {
    flex-direction: row;
    justify-content: space-between;
  }
  body main .notasContainer .nota .controlesSuperiores .nota_fecha {
    width: 50%;
    font-size: calc((1rem + 1vw) * 0.6);
  }
  body main .notasContainer .nota .controlesSuperiores .nota_controles {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  body main .notasContainer .nota .controlesSuperiores .nota_controles .delete {
    margin-right: 0.25rem;
  }
}/*# sourceMappingURL=styles.css.map */